.Comments-heading
{
    margin-right: 250px;
}
/* .comments-div
{
    margin-top: 155px;
} */
.comments-name
{
    margin-right: 15px;
}
.add-comments
{
    margin-right: 15px;
}
.comments-div
{
    text-align: left;
}